In [13]:
import pandas as pd

In [14]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

## Imports

In [19]:
df = pd.read_parquet("../../data/processed/air/df_air_quality_and_locations_from_2013.parquet")

In [20]:
df = df[['FECHA', 'NO2_VALUE', 'LONGITUD', 'LATITUD']].rename(columns=str.lower)

In [22]:
df.to_csv("air_data.csv", index = False)

In [23]:
df

                      fecha  no2_value  longitud    latitud
0       2013-01-01 01:00:00       35.0 -3.712257  40.423882
1       2013-01-01 02:00:00       52.0 -3.712257  40.423882
2       2013-01-01 03:00:00       35.0 -3.712257  40.423882
3       2013-01-01 04:00:00       19.0 -3.712257  40.423882
4       2013-01-01 05:00:00       14.0 -3.712257  40.423882
...                     ...        ...       ...        ...
2490931 2024-11-30 20:00:00       58.0 -3.689731  40.500548
2490932 2024-11-30 21:00:00       61.0 -3.689731  40.500548
2490933 2024-11-30 22:00:00       66.0 -3.689731  40.500548
2490934 2024-11-30 23:00:00       77.0 -3.689731  40.500548
2490935 2024-12-01 00:00:00       70.0 -3.689731  40.500548

[2490936 rows x 4 columns]