In [1]:
import pandas as pd
from tqdm import tqdm
import os

In [2]:
import os
import pandas as pd

# Define the root directory
root_dir = '../../data/raw/traffic_sensors_locations'

# Create an auxiliary DataFrame to store unique latitud and longitud
aux_df = pd.DataFrame(columns=['latitud', 'longitud'])

# Iterate through all year folders
for year in range(2019, 2026):
    year_folder = os.path.join(root_dir, str(year))
    
    # Check if the year folder exists
    if os.path.isdir(year_folder):
        print(f"Processing folder: {year_folder}")
        
        # Iterate through files in the year folder
        for file_name in os.listdir(year_folder):
            if file_name.endswith('.xlsx'):  # Ensure it's a CSV file
                
                file_path = os.path.join(year_folder, file_name)
                
                try:
                    df = pd.read_excel(file_path)
                    
                    # Remove duplicated values by looking at both "latitud" and "longitud"
                    df_unique = df[['latitud', 'longitud','id']].drop_duplicates()
                    
                    # Round both columns to 4 decimal places
                    df_unique['latitud'] = df_unique['latitud'].round(4)
                    df_unique['longitud'] = df_unique['longitud'].round(4)
                    df_unique['id'] = df_unique['id']
                    
                    # Append to the auxiliary DataFrame
                    aux_df = pd.concat([aux_df, df_unique], ignore_index=True)
                
                    print(f"Processed file: {file_name}")
                except Exception as e:
                    print(f"Error processing file {file_name}: {e}")

Processing folder: ../../data/raw/traffic_sensors_locations/2019

/var/folders/kc/t6c9n8gj7mbblj0w7sy3ykwm0000gn/T/ipykernel_37735/1741482127.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  aux_df = pd.concat([aux_df, df_unique], ignore_index=True)

Processed file: pmed_ubicacion_01-2019.xlsx
Processing folder: ../../data/raw/traffic_sensors_locations/2020
Processed file: pmed_ubicacion_01-2020.xlsx
Processing folder: ../../data/raw/traffic_sensors_locations/2021
Processed file: pmed_ubicacion_01-2021.xlsx
Processing folder: ../../data/raw/traffic_sensors_locations/2022
Processed file: pmed_ubicacion_01-2022.xlsx
Processing folder: ../../data/raw/traffic_sensors_locations/2023
Processed file: pmed_ubicacion_01-2023.xlsx
Processing folder: ../../data/raw/traffic_sensors_locations/2024
Processed file: pmed_ubicacion_01-2024.xlsx
Processing folder: ../../data/raw/traffic_sensors_locations/2025
Processed file: pmed_ubicacion_01-2025.xlsx

In [3]:
df_unique = aux_df.drop_duplicates(subset=['id'], keep='first')

In [ ]:
df_unique['id'] = df_unique['id'].astype(int)

In [15]:
root_dir = '../../data/raw/traffic_sensors_locations'

df_unique.to_excel("../../data/raw/traffic_sensors_locations/all_sensors.xlsx", index = False)

In [14]:
df_unique

       latitud  longitud     id
0      40.4305   -3.6883   3840
1      40.4305   -3.6873   3841
2      40.4221   -3.6917   3842
3      40.4214   -3.6919   3843
4      40.4338   -3.6885   3844
...        ...       ...    ...
31789  40.5090   -3.6953  11353
31914  40.4297   -3.6098  11302
31915  40.4259   -3.6116  11303
31916  40.4231   -3.6114  11304
31917  40.4242   -3.6073  11307

[5095 rows x 3 columns]