In [2]:
import pandas as pd

# display all pandas columns
pd.set_option('display.max_columns', None)  # Show all columns

## Data import

In [3]:
df_traffic_data = pd.read_excel('../../data/raw/traffic_sensors_locations/2024/pmed_ubicacion_01-2024.xlsx') 
df_air_quality_and_locations = pd.read_parquet("../../data/processed/air/df_air_quality_and_locations_from_2013.parquet")

In [4]:
len(df_traffic_data)

4910

In [5]:
len(df_traffic_data.drop_duplicates(subset=['longitud', 'latitud']))

4910

In [6]:
len(df_air_quality_and_locations)

2490936

In [7]:
len(df_air_quality_and_locations.drop_duplicates(subset=["LONGITUD", "LATITUD"]))

24

In [8]:
# Remove duplicates for air quality data
df_air_quality_and_locations = df_air_quality_and_locations.drop_duplicates(subset=["LONGITUD", "LATITUD"])

# Remove duplicates for traffic data
df_traffic_data = df_traffic_data.drop_duplicates(subset=['longitud', 'latitud'])  # Assuming 'id' is the identifier for the traffic sensor

In [9]:
df_traffic_data = df_traffic_data.rename(columns = {'id':'id_trafico'})

In [10]:
df_air_quality_and_locations.columns = df_air_quality_and_locations.columns.str.lower()
df_air_quality_and_locations = df_air_quality_and_locations.rename(columns = {'codigo':'id_no2'})

In [11]:
df_air_quality_and_locations[['id_no2','longitud','latitud']]

           id_no2  longitud    latitud
0        28079004 -3.712257  40.423882
98712    28079008 -3.682316  40.421553
202464   28079011 -3.677349  40.451473
305568   28079016 -3.639242  40.440046
407592   28079017 -3.713317  40.347147
512040   28079018 -3.731836  40.394782
615888   28079024 -3.747345  40.419358
719952   28079027 -3.580026  40.476918
824400   28079035 -3.703166  40.419209
926640   28079036 -3.645310  40.407952
1030320  28079038 -3.707130  40.445544
1134432  28079039 -3.711536  40.478232
1238784  28079040 -3.651529  40.388148
1343160  28079047 -3.686814  40.398099
1447344  28079048 -3.690373  40.439890
1551768  28079049 -3.682500  40.414444
1656216  28079050 -3.688745  40.465584
1760664  28079054 -3.612139  40.373012
1865112  28079055 -3.580565  40.462363
1969560  28079056 -3.718768  40.385034
2073792  28079057 -3.660517  40.494201
2178216  28079058 -3.774610  40.518070
2282616  28079059 -3.609031  40.465144
2386632  28079060 -3.689731  40.500548

In [14]:
df_traffic_data[['id_trafico','longitud','latitud']].to_csv('traffic_data_locations_2024.csv', index = False)

In [15]:
df_air_quality_and_locations[['id_no2','longitud','latitud']].to_csv('no2_data_locations.csv', index = False)