In [11]:
import pandas as pd

In [13]:
df = pd.read_excel('../../data/super_processed/1_all_traffic_sensors.xlsx')

In [8]:
df

        latitud  longitud     id
0     40.430502 -3.688323   3840
1     40.430524 -3.687256   3841
2     40.422132 -3.691727   3842
3     40.421433 -3.691929   3843
4     40.433782 -3.688470   3844
...         ...       ...    ...
5090  40.509005 -3.695339  11353
5091  40.429741 -3.609783  11302
5092  40.425853 -3.611620  11303
5093  40.423116 -3.611373  11304
5094  40.424226 -3.607290  11307

[5095 rows x 3 columns]