In [2]:
import xarray as xr

In [10]:
ds = xr.open_dataset('../../data/raw/meteo/2018/5e57992aac2ac56b7162ae01d706101c.grib', engine='cfgrib')
df = ds.to_dataframe()

df = df.reset_index()
df = df[df['d2m'].notna()]

In [21]:
df[(df['latitude'] == 40.7)].iloc[0]['longitude']

np.float64(-3.7)

In [33]:
df[(df['latitude'] == 40.7) & (df['longitude'] == -3.7)]

,time,step,latitude,longitude,number,surface,valid_time,d2m,t2m,ssr,ssrd,u10,v10,sp,tp
230,2018-11-30,1 days 00:00:00,40.7,-3.7,0,0.0,2018-12-01 00:00:00,272.837219,273.830566,6397936.0,7619172.0,0.817642,-1.386673,92869.2500,0.000402
240,2018-12-01,0 days 01:00:00,40.7,-3.7,0,0.0,2018-12-01 01:00:00,272.489655,273.337769,0.0,0.0,0.663452,-1.337724,92831.3750,0.000000
250,2018-12-01,0 days 02:00:00,40.7,-3.7,0,0.0,2018-12-01 02:00:00,272.267273,273.029480,0.0,0.0,0.742722,-1.313431,92826.3125,0.000000
260,2018-12-01,0 days 03:00:00,40.7,-3.7,0,0.0,2018-12-01 03:00:00,271.992584,272.756287,0.0,0.0,0.760422,-1.314148,92787.2500,0.000000
270,2018-12-01,0 days 04:00:00,40.7,-3.7,0,0.0,2018-12-01 04:00:00,271.958374,272.812805,0.0,0.0,0.739349,-1.222672,92783.5625,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7380,2018-12-30,0 days 19:00:00,40.7,-3.7,0,0.0,2018-12-30 19:00:00,272.817200,278.899780,7913452.0,9417824.0,-0.127565,-2.254211,93420.3125,0.000002
7390,2018-12-30,0 days 20:00:00,40.7,-3.7,0,0.0,2018-12-30 20:00:00,271.590881,277.688049,7913452.0,9417824.0,-0.176671,-2.267731,93472.1250,0.000002
7400,2018-12-30,0 days 21:00:00,40.7,-3.7,0,0.0,2018-12-30 21:00:00,270.381226,276.899628,7913452.0,9417824.0,0.019547,-2.191986,93475.5000,0.000002
7410,2018-12-30,0 days 22:00:00,40.7,-3.7,0,0.0,2018-12-30 22:00:00,269.325928,276.247467,7913452.0,9417824.0,0.119235,-2.120209,93470.3125,0.000002
7420,2018-12-30,0 days 23:00:00,40.7,-3.7,0,0.0,2018-12-30 23:00:00,268.385010,275.884094,7913452.0,9417824.0,0.116336,-2.092300,93502.6250,0.000002